*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#eef3f8;
}

.navbar{

    display:flex;

    justify-content:space-between;

    align-items:center;

    background:#0d47a1;

    color:white;

    padding:18px 50px;

}

.logo{

    font-size:24px;

    font-weight:bold;

}

.nav-links{

    display:flex;

    list-style:none;

    gap:30px;

}

.nav-links a{

    color:white;

    text-decoration:none;

}

.hero{

    text-align:center;

    padding:50px 20px;

}

.hero h1{

    font-size:40px;

    color:#0d47a1;

}

.hero p{

    margin-top:10px;

    color:#555;

}

.search-box{

    display:flex;

    justify-content:center;

    gap:10px;

    margin:30px;

}

.search-box input{

    width:350px;

    padding:12px;

    font-size:16px;

}

.search-box button{

    padding:12px 25px;

    background:#0d47a1;

    color:white;

    border:none;

    cursor:pointer;

}

.cards{

    display:flex;

    justify-content:center;

    gap:25px;

    flex-wrap:wrap;

    margin-bottom:40px;

}

.card{

    width:220px;

    background:white;

    border-radius:12px;

    padding:25px;

    text-align:center;

    box-shadow:0 5px 15px rgba(0,0,0,.1);

}

.card h2{

    color:#0d47a1;

    margin-bottom:15px;

}

.card p{

    font-size:28px;

    font-weight:bold;

}
.map-section{

    width:90%;

    margin:40px auto;

}

.map-section h2{

    text-align:center;

    color:#0d47a1;

    margin-bottom:20px;

}

#map{

    height:500px;

    width:100%;

    border-radius:12px;

    box-shadow:0 5px 15px rgba(0,0,0,.15);

}